@import "reset.css";
@import "typography.css";

body,html{
	width:100%;
	height: 100%;
	font-size: 16px;
	font-family: "Arial Narrow", Arial;
	font-stretch: condensed;}

body{
	background-image: url("../_Images/background6.png");
	background-repeat: repeat;
	background-color: #0e0e0e;
	color: #727272;
}
 
#wgpb{
	background-image: url("../_Images/background5.png");
	background-repeat: repeat;
}

p{
	margin-bottom: 10px;
}
#wrapper{
	width: 100%;
	position: relative; 
	height: 100%;
	}

header,#menuppal{
	width: 100%;}

#menuppal{
	background-color: #313030;
	height: 70px;}

h1{
	width: 150px;
	height: 70px;
	background-image: url("../_Images/rg_logo.png");
	background-size: auto 60px;
	background-repeat: no-repeat;
	background-position: 20px 5px;
	text-indent: -9999px;
	float: left;}

#menuppal ul{
	float: right;
	margin-right: 20px;
}

#menuppal ul li{
	float: left;
	margin-right: 20px;
	margin-top: 25px;
	color: #f0f2f6;
}	

#menuppal ul li a{
	color: inherit;
	text-decoration: none;
}

#menuppal ul .socialicon li{
	background-image: url("../_Images/iconsocial.png");
	background-repeat: no-repeat;
	width: 27px;
	height: 30px;
	margin-right: 5px;
	text-indent: -9999px;
	margin-top: 20px;
} 

#menuppal ul .btnt li{
	background-position: -32px 0;}

#menuppal ul .btny li{
	background-position: -60px 0;}

.banner {
  position: relative;
  width: 100%;
  overflow: auto;
  padding: 0px;
  margin: 0px;
  z-index: 1;
}
.banner ul {
  padding: 0px;
  margin: 0px;
}
.banner li{
	padding: 0px;
	margin: 0px;
	list-style-type: none;
}
.banner ul li {
  float:left;
  padding: 0px;
  margin: 0px;
  min-height: 400px;
  -webkit-background-size: 100% auto;
  -moz-background-size: 100% auto;
  -o-background-size: 100% auto;
  -ms-background-size: 100% auto;
  background-size: 100% auto;
  background-position-y: 80%;
  background-repeat: no-repeat;
  box-shadow: inset 0 -3px 6px rgba(0,0,0,.1);
}

.label{
	position: relative;
	float: left;
	z-index: 2;
	margin-bottom: -80px;
	top: 280px;
}

#content-box {
	width: 100%; 
	background-color: #fdfdfd; 
	display: inline-table;
} 

.buttons_hotels{
	float: left;
	display: inline-block;
	width: 33.33%; 
} 

.buttons_hotels img{
	width: 100%;
}
 

#btn_casagrande img, #btn_trypcoronado img, #btn_wgcorona img{
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

#btn_casagrande img.top, #btn_trypcoronado img.top, #btn_wgcorona img.top{
	position: relative;
	margin-top: -100%;
	top: -15px;
}

#btn_casagrande img.top:hover, #btn_trypcoronado img.top:hover, #btn_wgcorona img.top:hover{
	opacity:0;}

#content_page{
	background-color: #fdfdfd;
	width: 100%;
	min-height: 200px;
	clear: both; 
	margin-top: -3px;
	position: relative;
	padding-top: 30px;
	display: inline-table;
	padding-bottom: 20px;
}

#content_home{
	width: 60%;
	height: 100%;	
	border-right: 2px solid #f0f0f0;
	background-color: #fdfdfd;
	margin-left: 15px; 
	position: relative;
	display: inline-block;
	padding-right: 3%;
	float: left;
	margin-right: 2%;
}

#content_home aside {
	position: relative; 
	width: 30%;float: left;
}

#content_home aside img{
	width: 100%;
	position: relative;
	top: 20px;}

#content_home .horizontalcol{
	width: 65%;
	margin-left: 3%;
	float: right;
	text-align: justify;
}

#content_home .horizontalcol h2{
 font-family: "bebas";
 font-weight: normal;
 font-size: 40px; 
 margin-bottom: 10px;
 text-align: left;
}

#content_home .columnsdouble{
	width: 100%;
	display: inline-block;
	border-top: 2px solid  #f0f0f0;
	margin-top: 20px;

}

.columnsdouble .columnone{
	width: 43%;
	text-align: justify;
	border-right: 2px solid #f0f0f0;
	padding-right: 3%;
	float: left;
	padding-top: 3%;
	margin-right: 3%;
}

.columnsdouble .columnone h3{
 font-family: "bebas";
 font-weight: normal;
 font-size: 20px; 
 margin-bottom: 10px;
 text-align: left;
}

.columnsdouble .columnone h3 ul li{
	list-style: disc;
	float: left;
	width: none;
	margin-right: 10px;
	list-style-position:inside;
}

.columnsdouble .columnone h3 ul li.first{
	list-style: none;
}

.columnsdouble .columnone h4{
 font-family: "bebas";
 font-weight: normal;
 font-size: 35px; 
 margin-bottom: 10px;
 text-align: left;
 clear: both;
}

.learnmore{
	color: #4d7abb;
}

.columnsdouble .columntwo{
	padding-left: 3%;
	padding-top: 3%;
}

.columnsdouble .columntwo h4{
 font-family: "bebas";
 font-weight: normal;
 font-size: 35px; 
 margin-bottom: 10px;
 text-align: left; 
 margin-top:20px;}


.columnsdouble .columntwo form input[type="text"]{
 border:1px solid #c0c0c0;
 padding: 3px 5px;
 width: 125px;
}

.columnsdouble .columntwo form input[type="submit"]{
	background-color: #4d7abb;
	border:none;
	font-family: "bebas";
	font-size:20px;
	margin-left: -10px;
	color: #f0f0f0;
	cursor: pointer;
}

#promotions{
	padding:0 10px;
}

#promotions .textpromo{
	text-align: center;
	position: relative;
	margin-top: 10px;
}


footer{
	clear: both;
	background-color: #343434;
	padding: 20px 10px;
	min-height: 20px;
}

footer h3{
	float: left;
}

footer p{
	float: right;
}

.discover{
	padding:0 2% 3%;
}

.discover h2{
	font-family: "bebas";
	font-size: 50px;
	font-weight: normal;
	color: #275290;
	}

.logohotel{
	width: 100%;
	position: relative;
	margin-top: -18%; 
	z-index: 3
}

.logohotel img{
	width: 100%;
}

.both{
	clear: both;
}

.nomarginright{
	margin-right: 0 !important;
}
 
@media only screen and (min-width : 1367px) {
	#wrapper{	width: 1200px;	position: relative;	margin:auto; height: 100%; 	}
}	

@media only screen and (max-width : 910px) {

/*** MENU RESPONSIVE **/

#menuppal{border-bottom: 0px; z-index:9999; float: left; position:relative; height: auto;}
#menuppal ul{display: none; height: auto; margin-right: 40px; }
#menuppal ul li{float: none; margin-top: 10px; text-align: right; }
#menuppal ul .socialicon li{text-indent: -9999px; float: left; text-align: left; left: 50px; position: relative; margin-bottom: 20px;} 
#menuppal a#pull {	display: block;	background-color:#313030; width: 100%;	position: relative;	}
#menuppal a#pull:after { content:"";	background: url('../_Images/nav-icon.png') no-repeat; width: 30px;	height: 30px;	display: inline-block; position: absolute; right: 15px;	top: 10px; }

}

.tarjetas{
  width: 40%; 
  float: left;
}

.tarjetas img{
	width: 100%;
}

.formulario{ 
	width: 25%;
	margin: 0 3%;
	height: 100%;
  float: left;
}

.formulario form{
	background-color: #e0e0e0;
	padding: 10px;}

.formulario form input[type="text"],input[type="email"],input[type="tel"],.formulario form textarea{
	width: 95%;
	padding:  3px 5px;
	border:1px solid #c0c0c0;
	font-family: Arial;
	text-transform: capitalize;
}

.formulario form input[type="submit"]{
	background-color: #666;
	border:none;
	width: 100%;
	margin: auto;
	padding: 8px 0; 
	font-family: "bebas";
	color: #FFFFFF;
	font-size: 30px;
	font-weight: normal;
	cursor: pointer;
}

.formulario form input[type="submit"]:hover{
	background-color: #69cce5
}

.formulario h2{
 font-family: "bebas";
 font-size: 40px;
 font-weight: normal} 

 #map-canvas {
        height: 500px;
        margin: 0px;
        padding: 0px
      }

 .bgform{
 	width: 310px;
 	height: 439px;
 	background: url("../_Images/background-form.png") no-repeat;
 	position: relative;
 	z-index: 100;
 	margin-top: -230px; 
 	float: left;
 	padding-top: 40px;
 	padding-left: 25px;
 	padding-right: 25px; 
 }

.bgform h4{
	font-family: "bebas";
	font-size: 40px;
	font-weight: normal;
	color: #c1c1c1;
	text-align: center;}


.bgform input,
.bgform select,
.bgform textarea{
	width: 95%;
	margin: auto;
	position: relative;
	margin-top: 10px;
	padding: 5px;
	font-family: "Arial Narrow";
	font-size: 15px;
	text-transform:capitalize;
	color: #b0b0b0;
}

.bgform select{
	width: 100%;
	cursor: pointer;
}

.bgform textarea{
	width: 96%;
}

.bgform input[type="submit"]{
	background-color: #666;
	border:none;
	width: 100%; 
	padding: 8px 0; 
	font-family: "bebas";
	color: #FFFFFF;
	font-size: 30px;
	font-weight: normal;
	cursor: pointer;
}

.bgform  input[type="submit"]:hover{
	background-color: #69cce5
}

.content_form img{
	width: 100%;
	max-width: 706px;
}
/*@media only screen and (min-width : 620px) {*/